The Shopping Cart lets users add, remove, and check items out.
They can add an item that wasn't already added.
The checkout process returns a receipt that holds the subtotal, tax, and total.

               Test Cases
----------------------------------------
- adding an item if not already added
    - if item is existed
    - if item isn't existed
- removing an item
    - if item is existed
    - if item isn't existed
- checkout
    - `[identify test case 5]`
    - `[identify test case 6]`
    - `[identify test case 7]`
    - `[identify state exception test case]`
