The store sells movies and lets the user rent/return them.
The store starts by adding movies to its collection.
A movie is described by its name, format, and rating.

               Test Cases
----------------------------------------
- adding a movie
    Test if the store contains the movie after it's added.
- selling a movie
    Test if the movie get removed after being sold.
    Test for an IllegalStateException for selling a rented movie.
- renting a movie
    Test if the movie becomes rented.
- returning a movie
    Test if the movie is available again.

source: https://www.learnthepart.com/course/2dfda34d-6bbc-4bd5-8f45-d5999de2f514/7ad7931e-2baf-4cc1-b6bb-1c095a3bfde1